Shop/.phpunit.cache
Shop/node_modules
Shop/public/build
Shop/public/hot
Shop/public/storage
Shop/storage/*.key
Shop/vendor
Shop/.env
Shop/.env.backup
Shop/.env.production
Shop/.phpunit.result.cache
Shop/Homestead.json
Shop/Homestead.yaml
Shop/auth.json
Shop/npm-debug.log
Shopyarn-error.log
Shop/.fleet
Shop/.idea
Shop/.vscode
DataBase/mysql-data/
